<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Content-Security-Policy" content="default-src * data: gap: content: https://ssl.gstatic.com; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'">
    <script src="components/loader.js"></script>
    <link rel="stylesheet" href="components/loader.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- We load fontawesome -->
    <link rel="stylesheet" href="fonts/fontawesome/css/all.css" />
    <!-- We import Bootstrap CSS -->
    <link rel="stylesheet" href="third_party/materialize/materialize.min.css">
    <script>
    </script>
</head>
<body>
      <div id="app">
        <nav class="nav-extended">
          <!-- <div class="nav-wrapper">
            <a href="#" class="brand-logo"><i class="fas fa-book"></i></a>
            
          </div> -->
          <div class="nav-content">
            <span class="nav-title" id="app-title">
              {{ texts.appTitle[lang] }}  {{ globalVars.version.name }}
            </span>
            <ul id="tabs-container" class="tabs tabs-transparent">
              <li v-for="screen in screens" class="tab">
                <a v-bind:href="screen.div">{{ screen.title[lang] }}</a>
              </li>
            </ul>
          </div>
        </nav>

        <div class="container">
            <div id="training" class="center-align">
                <div v-show="!soundsLoaded" id="preloader">
                  <div id="preload-text">{{ texts.preloaderText[lang] }}</div>
                  <div class="progress">
                    <div class="indeterminate"></div>
                  </div>
                </div>
                <div v-show="soundsLoaded" id="training-screen">
                    <div class="row infos-row valign-wrapper">
                        <div class="col s6 center-align" id="level-info">
                          {{ texts.level[lang] }} {{ selectedLevel.orderId }}
                        </div>

                        <div class="col s6 center-align" id="score-info">
                          {{ texts.score[lang] }}: {{ rightAns.length }} / {{ questions.length }} ({{ percentage(rightAns.length, questions.length) }}%)
                          <!-- <a class="btn tooltipped" data-position="top" data-tooltip="test">
                            <i class="fas fa-info-circle"></i>
                          </a> -->
                        </div>
                    </div>

                    <div class="row ans-btn-row valign-wrapper">
                      <a v-for="(btn, index) in phrasePatternNum" class="waves-effect waves-light btn answer-btn rhythms" v-bind:class="{ disabled: ansBtnDisabled }" v-on:click="handleAnsBtnClick(index)">
                        {{ patterns.find(pattern => pattern.id === answers[index]).rhythmsText }}
                      </a>
                    </div>

                    <div class="row feedbacks-row">
                        <div v-for="(feedback, index) in phrasePatternNum" class="col feedback" v-bind:class="fbIcons.find(icon => icon.id === phraseFbIconIds[index]).color">
                          <i v-bind:class="fbIcons.find(icon => icon.id === phraseFbIconIds[index]).text"></i>
                        </div>
                    </div>

                    <div class="row ans-radios-row">
                      <p v-for="id in selectedLevel.patternIds" class="left-align col s4 m3 l2">
                        <label>
                          <input class="with-gap" name="group1" v-model="selectedPattern" v-bind:value="patterns.find(pattern => pattern.id === id)" type="radio"/>
                          <span class="black-text rhythms answer-radio-span">
                            {{ patterns.find(pattern => pattern.id === id).rhythmsText }}
                          </span>
                        </label>
                      </p>
                    </div>

                    <div class="row action-btn-row">
                        <a v-for="(btn, index) in 4" class="waves-effect waves-light btn action-btn" v-bind:class="{ disabled: actionBtnDisabled[index] }" v-on:click="handleActionBtnClick(index)">{{ texts.actionButtons[index][lang] }}</a>
                    </div>
                </div>
            </div>
            <div id="settings">
              <div class="input-field col s12">
                <select v-on:change="handleLevelChange()" v-model="selectedLevel">
                  <option v-for="level in levels" v-bind:value="level">
                    {{ level.orderId }}
                  </option>
                </select>
                <label>{{ texts.levelSelectLabel[lang] }}</label>
              </div>
              <div class="row">
                <div class="rhythms col s4 m3 l2" v-for="id in selectedLevel.patternIds">
                  {{ patterns.find(pattern => pattern.id === id).rhythmsText }}
                </div>
              </div>
            </div>
            <div id="stats">
                <table class="responsive-table centered" id="stats-table">
                    <thead>
                        <tr>
                              <th id="level-th">{{ texts.level[lang] }}</th>
                              <th id="description-th">{{ texts.newPattern[lang] }}</th>
                              <th id="questions-th">{{ texts.questions[lang] }}</th>
                              <th id="right-ans-th">{{ texts.rightAns[lang] }}</th>
                              <th id="percentage-th">{{ texts.successPercentage[lang] }}</th>
                              <th id="actions-th">{{ texts.actions[lang] }}</th>
                        </tr>
                      
                    </thead>
                    <tbody id="stats-tbody">
                        <tr v-for="level in levels">
                            <td>{{ level.orderId }}</td>
                            <td class="pattern-td rhythms">
                                {{ patterns.find(pattern => pattern.id === level.patternIds[level.patternIds.length-1]).rhythmsText }}
                            </td>
                            <td>{{ questionsByLevel(level.id).length }}</td>
                            <td>{{ rightAnsByLevel(level.id).length }}</td>
                            <td>{{ percentage(rightAnsByLevel(level.id).length, questionsByLevel(level.id).length) }}%</td>
                            <td>
                                <a v-show="globalVars.version.id === 1 && questionsByLevel(level.id).length > 0" href="#delete-stats-modal" class="waves-effect waves-light btn delete-stats-btn modal-trigger" v-on:click="handleResetBtnClick(level.id)">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>

                        <tr id="sum-tr">
                            <td>{{ texts.sum[lang] }}</td>
                            <td class="pattern-td rhythms"></td>
                            <td>{{ questions.length }}</td>
                            <td>{{ rightAns.length }}</td>
                            <td>{{ percentage(rightAns.length, questions.length) }}%</td>
                            <td>
                                <a v-show="questions.length > 0" href="#delete-stats-modal" class="waves-effect waves-light btn delete-stats-btn modal-trigger" v-on:click="handleResetBtnClick(0)">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!-- code de la fenêtre modale pour la suppression des stats -->
                <div id="delete-stats-modal" class="modal">
                  <div class="modal-content">
                    <h5>{{ texts.resetStatsTitle[lang] }}</h5>
                    <p class="modal-text">{{ resetText }}?</p>
                  </div>
                  <div class="modal-footer">
                    <a href="#!" id="delete-ok-btn" class="modal-close waves-effect waves-green btn-flat red-text" v-on:click="resetStats()">
                      {{ texts.yes[lang] }}
                    </a>
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">{{ texts.no[lang] }}</a>
                  </div>
                </div>
            </div>
        </div>
      </div>

      <!-- We import materialize js -->
      <script src="third_party/materialize/materialize.min.js"></script> 

      <!-- We import VueJS -->
      <script type="text/javascript" src="third_party/vuejs/vue.js"></script>

      <!-- import web audio related files -->
      <script type="text/javascript" src="js/buffer-loader.js"></script>
      <script type="text/javascript" src="js/notes-player.js"></script>

      <script src="js/patterns.js"></script>
      <script src="js/levels.js"></script>
      <script src="js/global_vars.js"></script>
      <script src="js/texts.js"></script>
      <script src="js/screens.js"></script>

      <!-- Import vue js instances -->
      <script src="js/app.js"></script>
</body>
</html>
